@import "https://unpkg.com/css.gg@2.0.0/icons/css/eye.css";
@import "https://unpkg.com/css.gg@2.0.0/icons/css/trash.css";

.file-viewer-body {
	background-color: var(--background-alt);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 3px;
	margin: 3px;
}

.file-viewer-titlebar {
	background-color: var(--background);
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5em;
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 0.5em;
	margin-bottom: 3px;
}

.file-viewer-title {
	color: var(--text-bright);
	font-weight: bold;
}

.file-viewer-size {
	color: var(--text-muted);
	font-style: italic;
}

.file-viewer-spacer {
	flex: 1;
}

.file-viewer-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.8em;
	height: 1.5em;
	margin: 0;
	padding-bottom: 6px;
}

.file-viewer-content {
	display: flex;
	background-color: var(--background);
	width: 100%;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 6px;
}

.file-viewer-text {
	white-space: pre-wrap;
}

.file-viewer-media {
	flex: 1;
}

.spoiler {
	filter: blur(4px);
	pointer-events: none;
	user-select: none;
}

img.spoiler,
video.spoiler {
	filter: blur(32px);
}